<div class="fridge-item card blue lighten-1">
    <div class="card-content">
        <div class="card-title center white-text">
            Mjölk
        </div>
        <div class="f-chip chip white blue-text lighten-1">
            <span class="tiny f-icon blue white-text lighten-1">
                <i class="ion-calendar tiny blue white-text lighten-1"></i>
            </span>
            2016-04-13
        </div>
        <div class="f-chip chip white blue-text lighten-1">
            <span class="tiny f-icon blue white-text lighten-1">
                <i class="ion-clock tiny blue white-text lighten-1"></i>
            </span>
            15 days
        </div>
        <div class="card-action center">
            <a class="waves-effect waves-light btn-floating btn-large green">
                <i class="material-icons">shopping_cart</i>
            </a>
        </div>
    </div>
</div>
